name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'  # Triggers when you push a tag like v1.0.3
  workflow_dispatch:

jobs:
  publish-pypi:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Required to see tags

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Poetry
      run: |
        pip install --upgrade pip
        pip install poetry

    - name: Sync Poetry Version with Tag
      run: |
        # Get the tag name (e.g., v1.0.3) and strip the 'v' to get 1.0.3
        TAG_VERSION=${GITHUB_REF#refs/tags/v}
        echo "Setting version to $TAG_VERSION"
        poetry version $TAG_VERSION

    - name: Build package
      run: poetry build

    - name: Publish to PyPI
      env:
        POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
      run: poetry publish